@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");

@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueRoman.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueItalic.woff") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.woff") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMediumItalic.woff") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.woff") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLightItalic.woff") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.woff") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldItalic.woff") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

body {
  font-size: 100%;
  font-weight: 400;
  color: #000;
  background: #fff;
  font-family: "Helvetica Neue", sans-serif;
}

body h1 {
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: 600;
}

@media (min-width: 768px) {
  body h1 {
    font-size: 2.25rem;
  }
}

body h2 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
}

body h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
}

body h4 {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 500;
}

@media (min-width: 768px) {
  body h2 {
    font-size: 1.75rem;
  }
}

body select {
  appearance: none;
  background: #ffffff url("/svg/arrow-down.svg") no-repeat 90% 50%;
  background-size: 14px 14px;
  text-indent: 0.01rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.width-base {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 1700px) {
  .width-base {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 640px) {
  .width-base {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@media (max-width: 640px) {
  .width-base {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

a {
  font-size: 16px;
}

button {
  font-size: 16px;
}

table {
  width: 100% !important;
  border: 4px double #373737 !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

th,
td {
  border: 1px solid #4e4e4e !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

p.MsoNormal {
  margin-block-start: 20px;
  margin-block-end: 20px;
  font-weight: 400;
  color: #4e4e4e;
}

.bg-primary {
  background: linear-gradient(to right, #b68258, #b68258);
}

.content-html figure {
  max-width: 100% !important;
}

.content-html iframe {
  max-width: 100% !important;
}

.text-primary {
  color: #b68258;
}

.text-secondary {
  color: #4e4e4e;
}

.text-title {
  color: #373737;
}

/* span.truncate {
  color: #373737;
} */

a.group.relative.w-full.flex.items-center.gap-1\.5.font-medium.text-sm.before\:absolute.before\:z-\[-1\].before\:rounded-md.focus\:outline-none.focus-visible\:outline-none.dark\:focus-visible\:outline-none.focus-visible\:before\:ring-inset.focus-visible\:before\:ring-2.focus-visible\:before\:ring-primary.px-2\.5.py-1\.5.before\:inset-x-px.before\:inset-y-0.text-primary.before\:bg-elevated {
  background: wheat;
  border-radius: 6px;
}

a.medium {
  color: #b68258;
  font-weight: 500;
}

a.base {
  color: #b68258;
  font-weight: 400;
}

a.bold {
  color: #b68258;
  font-weight: 700;
}

a.underline {
  color: #b68258;
  font-weight: 500;
}

.animateTop {
  animation: animTop 1s ease 0s 1 normal none running;
}

.animateTitle {
  animation: animTitle 1s ease 0s 1 normal none running;
}

.reveal {
  opacity: 0;
  position: relative;
}

.reveal.active {
  opacity: 1;
}

.active.animTop {
  animation: animTop 1s ease 0s 1 normal none running;
}

.active.animRight {
  animation: animRight 1s ease 0s 1 normal none running;
}

.active.animLeft {
  animation: animLeft 1s ease 0s 1 normal none running;
}

.active.animTitle {
  animation: animTitle 1s ease 0s 1 normal none running;
}

.active.animBottom {
  animation: animBottom 1s ease 0s 1 normal none running;
}

.active.animZoomIn {
  animation: animZoomIn 1s ease 0s 1 normal none running;
}

.active.animZoomInTop {
  animation: animZoomInTop 1.2s ease 0s 1 normal none running;
}

.active.animZoomOutLeft {
  animation: animZoomOutLeft 1s ease 0s 1 normal none running;
}

.active.animZoomInBottom {
  animation: animZoomInBottom 0.5s ease 0s 1 normal none running;
}

.active.animZoomOutTop {
  animation: animZoomOutTop 1s ease 0s 1 normal none running;
}

.active.animZoomOutRight {
  animation: animZoomOutRight 1.5s ease 0s 1 normal none running;
}

.active.animTopLeft {
  animation: animTopLeft 1.9s ease 0s 1 normal none running;
}

@keyframes animTitle {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animRight {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animLeft {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animZoomInTop {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animZoomInBottom {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animZoomOutTop {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animZoomOutLeft {
  0% {
    opacity: 0;
    transform: scale(1.2) translate(100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animZoomOutRight {
  0% {
    opacity: 0;
    transform: scale(1.2) translate(-100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animTopLeft {
  0% {
    opacity: 0;
    transform: translate(100px) translateY(100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
